@font-face {
    font-family: 'MyFont';
    src:  url('./Devil-East-Free-Font.otf') format('otf'),
          url('./Devil-East-Free-Font.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
 }
$body-color: red;

.salut {
    color: $body-color;
    background: url('./orange.jpg');
    font-size: 200;
    font-family: 'MyFont';
}